<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ranges</key>
	<array>
		<dict>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<real>5000000</real>
		</dict>
		<dict>
			<key>min</key>
			<real>5000000</real>
			<key>max</key>
			<real>10000000</real>
		</dict>
		<dict>
			<key>min</key>
			<real>10000000</real>
			<key>max</key>
			<real>15000000</real>
		</dict>
		<dict>
			<key>min</key>
			<real>15000000</real>
			<key>max</key>
			<real>20000000</real>
		</dict>
		<dict>
			<key>min</key>
			<real>20000000</real>
			<key>max</key>
			<real>25000000</real>
		</dict>
		<dict>
			<key>min</key>
			<real>25000000</real>
			<key>max</key>
			<real>30000000</real>
		</dict>
		<dict>
			<key>min</key>
			<real>30000000</real>
			<key>max</key>
			<real>40000000</real>
		</dict>
		<dict>
			<key>min</key>
			<real>40000000</real>
			<key>max</key>
			<real>50000000</real>
		</dict>
		<dict>
			<key>min</key>
			<real>50000000</real>
			<key>max</key>
			<real>60000000</real>
		</dict>
		<dict>
			<key>min</key>
			<real>60000000</real>
			<key>max</key>
			<real>70000000</real>
		</dict>
		<dict>
			<key>min</key>
			<real>70000000</real>
			<key>max</key>
			<real>100000000</real>
		</dict>
		<dict>
			<key>min</key>
			<real>100000000</real>
			<key>max</key>
			<real>250000000</real>
		</dict>
		<dict>
			<key>min</key>
			<real>250000000</real>
			<key>max</key>
			<real>500000000</real>
		</dict>
		<dict>
			<key>min</key>
			<real>500000000</real>
			<key>max</key>
			<real>750000000</real>
		</dict>
		<dict>
			<key>min</key>
			<real>750000000</real>
			<key>max</key>
			<real>1000000000</real>
		</dict>
		<dict>
			<key>min</key>
			<real>1000000000</real>
			<key>max</key>
			<real>2500000000</real>
		</dict>
		<dict>
			<key>min</key>
			<real>2500000000</real>
			<key>max</key>
			<real>5000000000</real>
		</dict>
		<dict>
			<key>min</key>
			<real>5000000000</real>
			<key>max</key>
			<real>75000000000</real>
		</dict>
		<dict>
			<key>min</key>
			<real>75000000000</real>
			<key>max</key>
			<real>10000000000</real>
		</dict>
		<dict>
			<key>min</key>
			<real>10000000000</real>
			<key>max</key>
			<real>15000000000</real>
		</dict>
		<dict>
			<key>min</key>
			<real>15000000000</real>
			<key>max</key>
			<real>20000000000</real>
		</dict>
		<dict>
			<key>min</key>
			<real>20000000000</real>
			<key>max</key>
			<real>25000000000</real>
		</dict>
		<dict>
			<key>min</key>
			<real>25000000000</real>
			<key>max</key>
			<real>30000000000</real>
		</dict>
		<dict>
			<key>min</key>
			<real>30000000000</real>
			<key>max</key>
			<real>35000000000</real>
		</dict>
	</array>
</dict>
</plist>
