<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bugGenerationInterval</key>
	<integer>2</integer>
	<key>holePosition</key>
	<dict>
		<key>y</key>
		<integer>235</integer>
		<key>x</key>
		<integer>537</integer>
	</dict>
	<key>maxBugCount</key>
	<integer>5</integer>
	<key>scoreIncrement</key>
	<integer>100</integer>
	<key>heartCount</key>
	<integer>5</integer>
	<key>heartDecrement</key>
	<integer>-1</integer>
	<key>BugSpeed</key>
	<real>0.0065</real>
	<key>posVarX</key>
	<integer>350</integer>
	<key>posVarY</key>
	<integer>250</integer>
	<key>Bug</key>
	<dict>
		<key>0</key>
		<dict>
			<key>walk1</key>
			<string>Bug11.png</string>
			<key>walk2</key>
			<string>Bug12.png</string>
			<key>DeadBug</key>
			<string>BugDead1.png</string>
			<key>BugTouchSound</key>
			<string>BugDead.wav</string>
			<key>BugHoleSound</key>
			<string>BugEnterHole.wav</string>
		</dict>
		<key>1</key>
		<dict>
			<key>walk1</key>
			<string>Bug21.png</string>
			<key>walk2</key>
			<string>Bug22.png</string>
			<key>DeadBug</key>
			<string>BugDead2.png</string>
			<key>BugTouchSound</key>
			<string>Bug2Dead.wav</string>
			<key>BugHoleSound</key>
			<string>BugEnterHole.wav</string>
		</dict>
	</dict>
</dict>
</plist>
