<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>results</key>
	<array>
		<dict>
			<key>objectId</key>
			<string>KtbyE3cUeT</string>
			<key>Network</key>
			<string>AdColony</string>
			<key>createdAt</key>
			<string>2018-12-13T10:18:39.670Z</string>
			<key>updatedAt</key>
			<string>2019-10-15T07:17:05.304Z</string>
			<key>IOS</key>
			<integer>5</integer>
			<key>Android</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>objectId</key>
			<string>csuvJuSnvh</string>
			<key>updatedAt</key>
			<string>2019-10-15T07:17:11.384Z</string>
			<key>Network</key>
			<string>AppLovin</string>
			<key>createdAt</key>
			<string>2016-06-14T12:17:51.257Z</string>
			<key>WP8</key>
			<integer>0</integer>
			<key>IOS</key>
			<integer>3</integer>
			<key>Android</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>objectId</key>
			<string>5jBFaMpwSx</string>
			<key>Network</key>
			<string>UnityAds</string>
			<key>createdAt</key>
			<string>2018-12-14T07:34:08.493Z</string>
			<key>updatedAt</key>
			<string>2019-10-15T07:17:07.219Z</string>
			<key>IOS</key>
			<integer>6</integer>
			<key>Android</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>objectId</key>
			<string>7AmZ8GfHmh</string>
			<key>Network</key>
			<string>FacebookAd</string>
			<key>createdAt</key>
			<string>2017-09-24T13:26:48.157Z</string>
			<key>updatedAt</key>
			<string>2019-09-16T10:22:16.801Z</string>
			<key>WP8</key>
			<integer>0</integer>
			<key>IOS</key>
			<integer>1</integer>
			<key>Android</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>objectId</key>
			<string>bEeyxImNRP</string>
			<key>createdAt</key>
			<string>2016-06-14T12:18:15.994Z</string>
			<key>updatedAt</key>
			<string>2019-10-15T07:17:08.306Z</string>
			<key>Network</key>
			<string>AdMob</string>
			<key>WP8</key>
			<integer>0</integer>
			<key>IOS</key>
			<integer>7</integer>
			<key>Android</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>objectId</key>
			<string>JSgVaPmfFW</string>
			<key>Network</key>
			<string>Vungle</string>
			<key>createdAt</key>
			<string>2018-12-12T07:01:25.259Z</string>
			<key>updatedAt</key>
			<string>2019-10-15T07:17:04.321Z</string>
			<key>IOS</key>
			<integer>4</integer>
			<key>Android</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>objectId</key>
			<string>Xoxe09wLDR</string>
			<key>createdAt</key>
			<string>2016-06-14T12:18:01.680Z</string>
			<key>updatedAt</key>
			<string>2019-10-15T07:17:09.657Z</string>
			<key>Network</key>
			<string>Chartboost</string>
			<key>WP8</key>
			<integer>0</integer>
			<key>IOS</key>
			<integer>2</integer>
			<key>Android</key>
			<integer>6</integer>
		</dict>
	</array>
</dict>
</plist>
