<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>results</key>
	<array>
		<dict>
			<key>objectId</key>
			<string>TuuQcthVlE</string>
			<key>Network</key>
			<string>AppLovin</string>
			<key>createdAt</key>
			<string>2018-11-30T10:30:39.166Z</string>
			<key>updatedAt</key>
			<string>2019-04-02T10:45:17.963Z</string>
			<key>Android</key>
			<integer>2</integer>
			<key>IOS</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>objectId</key>
			<string>skJ7V4s89K</string>
			<key>createdAt</key>
			<string>2018-11-30T14:34:16.007Z</string>
			<key>updatedAt</key>
			<string>2019-04-02T10:49:41.252Z</string>
			<key>Network</key>
			<string>UnityAds</string>
			<key>Amazon</key>
			<integer>1</integer>
			<key>Android</key>
			<integer>4</integer>
			<key>IOS</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>objectId</key>
			<string>trK2tDWFPT</string>
			<key>Network</key>
			<string>AdMob</string>
			<key>updatedAt</key>
			<string>2019-04-02T10:49:39.331Z</string>
			<key>createdAt</key>
			<string>2016-08-08T15:35:48.974Z</string>
			<key>WP8</key>
			<integer>0</integer>
			<key>Android</key>
			<integer>1</integer>
			<key>IOS</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>objectId</key>
			<string>YGX4oRL0zV</string>
			<key>Network</key>
			<string>FacebookAd</string>
			<key>createdAt</key>
			<string>2017-09-24T13:26:15.167Z</string>
			<key>updatedAt</key>
			<string>2019-04-02T10:45:19.572Z</string>
			<key>WP8</key>
			<integer>0</integer>
			<key>IOS</key>
			<integer>3</integer>
			<key>Android</key>
			<integer>3</integer>
		</dict>
	</array>
</dict>
</plist>
