<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>results</key>
	<array>
		<dict>
			<key>objectId</key>
			<string>Fiy7S2YSGJ</string>
			<key>Network</key>
			<string>AdMob</string>
			<key>createdAt</key>
			<string>2017-08-01T12:26:55.512Z</string>
			<key>updatedAt</key>
			<string>2019-07-19T10:32:34.969Z</string>
			<key>IOS</key>
			<integer>6</integer>
			<key>Android</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>objectId</key>
			<string>Ob19ZOIPK9</string>
			<key>updatedAt</key>
			<string>2019-07-19T10:32:33.005Z</string>
			<key>createdAt</key>
			<string>2016-10-21T14:51:32.708Z</string>
			<key>Network</key>
			<string>UnityAds</string>
			<key>IOS</key>
			<integer>5</integer>
			<key>Android</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>objectId</key>
			<string>fgF29jC2np</string>
			<key>createdAt</key>
			<string>2016-06-15T06:36:27.460Z</string>
			<key>updatedAt</key>
			<string>2019-07-19T10:32:38.134Z</string>
			<key>Network</key>
			<string>AdColony</string>
			<key>IOS</key>
			<integer>3</integer>
			<key>Android</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>objectId</key>
			<string>WxEEkSYMWu</string>
			<key>Network</key>
			<string>Vungle</string>
			<key>createdAt</key>
			<string>2016-06-15T06:36:35.024Z</string>
			<key>updatedAt</key>
			<string>2019-07-19T10:32:36.346Z</string>
			<key>WP81</key>
			<integer>1</integer>
			<key>IOS</key>
			<integer>4</integer>
			<key>Android</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>objectId</key>
			<string>Hcc4zcXQC5</string>
			<key>updatedAt</key>
			<string>2019-07-19T10:32:39.141Z</string>
			<key>Network</key>
			<string>Chartboost</string>
			<key>createdAt</key>
			<string>2016-06-15T06:36:16.825Z</string>
			<key>IOS</key>
			<integer>2</integer>
			<key>Android</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>objectId</key>
			<string>vwrpgPbAXE</string>
			<key>updatedAt</key>
			<string>2019-07-19T10:32:40.872Z</string>
			<key>Network</key>
			<string>AppLovin</string>
			<key>createdAt</key>
			<string>2016-06-15T06:36:04.773Z</string>
			<key>IOS</key>
			<integer>1</integer>
			<key>Android</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>objectId</key>
			<string>rmaU66xD3s</string>
			<key>Network</key>
			<string>FacebookAd</string>
			<key>createdAt</key>
			<string>2018-12-07T11:42:42.276Z</string>
			<key>updatedAt</key>
			<string>2019-07-19T10:32:31.733Z</string>
			<key>IOS</key>
			<integer>7</integer>
			<key>Android</key>
			<integer>1</integer>
		</dict>
	</array>
</dict>
</plist>
