<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Common_Blue_button_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,1088},{172,148}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,148}}</string>
                <key>sourceSize</key>
                <string>{172,146}</string>
            </dict>
            <key>Common_Border.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,528},{208,208}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{206,206}</string>
            </dict>
            <key>Common_Border_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,1404},{292,284}}</string>
                <key>offset</key>
                <string>{1.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,284}}</string>
                <key>sourceSize</key>
                <string>{289,284}</string>
            </dict>
            <key>Common_Close_btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,1588},{116,116}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{116,116}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Common_Coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,520},{152,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,152}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>Common_Corner_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,1100},{320,300}}</string>
                <key>offset</key>
                <string>{1.5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,300}}</string>
                <key>sourceSize</key>
                <string>{317,298}</string>
            </dict>
            <key>Common_Gem.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,1604},{164,168}}</string>
                <key>offset</key>
                <string>{1,-0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,168}}</string>
                <key>sourceSize</key>
                <string>{162,167}</string>
            </dict>
            <key>Common_Gem_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,1100},{276,248}}</string>
                <key>offset</key>
                <string>{0.5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,248}}</string>
                <key>sourceSize</key>
                <string>{275,248}</string>
            </dict>
            <key>Common_Green_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,740},{220,168}}</string>
                <key>offset</key>
                <string>{1.5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,168}}</string>
                <key>sourceSize</key>
                <string>{217,166}</string>
            </dict>
            <key>Common_Item_divider.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,520},{460,4}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,4}}</string>
                <key>sourceSize</key>
                <string>{458,2}</string>
            </dict>
            <key>Common_Popup_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,912},{208,208}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{206,206}</string>
            </dict>
            <key>Common_Red_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,1380},{220,168}}</string>
                <key>offset</key>
                <string>{1.5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,168}}</string>
                <key>sourceSize</key>
                <string>{217,166}</string>
            </dict>
            <key>Common_Sound_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,372},{372,128}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,128}}</string>
                <key>sourceSize</key>
                <string>{370,128}</string>
            </dict>
            <key>Common_Sound_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,712},{372,128}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,128}}</string>
                <key>sourceSize</key>
                <string>{370,128}</string>
            </dict>
            <key>Common_base_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,932},{244,184}}</string>
                <key>offset</key>
                <string>{1.5,-1.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,184}}</string>
                <key>sourceSize</key>
                <string>{241,181}</string>
            </dict>
            <key>Common_blackBanner.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,1264},{148,148}}</string>
                <key>offset</key>
                <string>{1.5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,148}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>Common_board_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,148},{68,468}}</string>
                <key>offset</key>
                <string>{0,-1.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,468}}</string>
                <key>sourceSize</key>
                <string>{68,465}</string>
            </dict>
            <key>Common_board_player_cell_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,1028},{52,272}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,272}}</string>
                <key>sourceSize</key>
                <string>{52,270}</string>
            </dict>
            <key>Common_board_subtitle_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,1028},{36,48}}</string>
                <key>offset</key>
                <string>{1,-0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,48}}</string>
                <key>sourceSize</key>
                <string>{34,47}</string>
            </dict>
            <key>Common_button_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,1836},{64,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,104}}</string>
                <key>sourceSize</key>
                <string>{64,104}</string>
            </dict>
            <key>Common_button_border.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,1588},{128,192}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,192}}</string>
                <key>sourceSize</key>
                <string>{130,190}</string>
            </dict>
            <key>Common_button_middle_active_9-slice.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,1596},{128,192}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,192}}</string>
                <key>sourceSize</key>
                <string>{130,190}</string>
            </dict>
            <key>Common_button_middle_inactive_9-slice.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,1820},{80,152}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,20},{80,152}}</string>
                <key>sourceSize</key>
                <string>{130,190}</string>
            </dict>
            <key>Common_collect_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,4},{400,140}}</string>
                <key>offset</key>
                <string>{1.5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,140}}</string>
                <key>sourceSize</key>
                <string>{397,138}</string>
            </dict>
            <key>Common_fb_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,528},{252,168}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,168}}</string>
                <key>sourceSize</key>
                <string>{252,166}</string>
            </dict>
            <key>Common_icon_collect_C1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,1940},{44,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,84}}</string>
                <key>sourceSize</key>
                <string>{44,84}</string>
            </dict>
            <key>Common_icon_collect_C2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,1848},{44,84}}</string>
                <key>offset</key>
                <string>{0.5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,84}}</string>
                <key>sourceSize</key>
                <string>{43,84}</string>
            </dict>
            <key>Common_icon_collect_E.png</key>
            <dict>
                <key>frame</key>
                <string>{{1384,1896},{40,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,84}}</string>
                <key>sourceSize</key>
                <string>{40,84}</string>
            </dict>
            <key>Common_icon_collect_L_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,1896},{40,84}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,84}}</string>
                <key>sourceSize</key>
                <string>{38,84}</string>
            </dict>
            <key>Common_icon_collect_O.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,1848},{44,84}}</string>
                <key>offset</key>
                <string>{0.5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,84}}</string>
                <key>sourceSize</key>
                <string>{43,84}</string>
            </dict>
            <key>Common_icon_collect_T.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,1728},{48,84}}</string>
                <key>offset</key>
                <string>{1.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,84}}</string>
                <key>sourceSize</key>
                <string>{45,84}</string>
            </dict>
            <key>Common_list_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,1304},{52,52}}</string>
                <key>offset</key>
                <string>{0.5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{51,50}</string>
            </dict>
            <key>Common_loading-bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1100},{776,48}}</string>
                <key>offset</key>
                <string>{1.5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{776,48}}</string>
                <key>sourceSize</key>
                <string>{773,78}</string>
            </dict>
            <key>Common_loading_spinner.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,1416},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Common_lobby_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1884},{104,100}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{104,100}}</string>
                <key>sourceSize</key>
                <string>{104,150}</string>
            </dict>
            <key>Common_lobby_button_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,1772},{104,100}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{104,100}}</string>
                <key>sourceSize</key>
                <string>{104,150}</string>
            </dict>
            <key>Common_lower_button_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,1904},{76,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{76,72}}</string>
                <key>sourceSize</key>
                <string>{110,104}</string>
            </dict>
            <key>Common_lower_button_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,1848},{76,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{76,72}}</string>
                <key>sourceSize</key>
                <string>{110,104}</string>
            </dict>
            <key>Common_navigation_button_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,1924},{60,76}}</string>
                <key>offset</key>
                <string>{1.5,-0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,76}}</string>
                <key>sourceSize</key>
                <string>{57,75}</string>
            </dict>
            <key>Common_navy_blue_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1876},{176,108}}</string>
                <key>offset</key>
                <string>{1,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,108}}</string>
                <key>sourceSize</key>
                <string>{174,107}</string>
            </dict>
            <key>Common_page_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,172},{40,44}}</string>
                <key>offset</key>
                <string>{0,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,44}}</string>
                <key>sourceSize</key>
                <string>{40,43}</string>
            </dict>
            <key>Common_page_inactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,1940},{40,44}}</string>
                <key>offset</key>
                <string>{0,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,44}}</string>
                <key>sourceSize</key>
                <string>{40,43}</string>
            </dict>
            <key>Common_pay_line_cell_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1692},{32,32}}</string>
                <key>offset</key>
                <string>{1.5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{29,30}</string>
            </dict>
            <key>Common_pay_line_cell_inactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,1940},{32,32}}</string>
                <key>offset</key>
                <string>{1.5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{29,30}</string>
            </dict>
            <key>Common_popup_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,220},{148,364}}</string>
                <key>offset</key>
                <string>{0.5,-0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,364}}</string>
                <key>sourceSize</key>
                <string>{147,363}</string>
            </dict>
            <key>Common_popup_bg_sides.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,1124},{220,220}}</string>
                <key>offset</key>
                <string>{1,-1.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{218,217}</string>
            </dict>
            <key>Common_push_notification_msg_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{1128,116}}</string>
                <key>offset</key>
                <string>{1,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1128,116}}</string>
                <key>sourceSize</key>
                <string>{1126,115}</string>
            </dict>
            <key>Common_shine.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,1820},{84,144}}</string>
                <key>offset</key>
                <string>{0,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,144}}</string>
                <key>sourceSize</key>
                <string>{84,143}</string>
            </dict>
            <key>Common_slider_slide.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,4},{164,40}}</string>
                <key>offset</key>
                <string>{1.5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{164,40}}</string>
                <key>sourceSize</key>
                <string>{161,78}</string>
            </dict>
            <key>Common_star_Rays.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,124},{584,584}}</string>
                <key>offset</key>
                <string>{0,-1.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{584,584}}</string>
                <key>sourceSize</key>
                <string>{584,581}</string>
            </dict>
            <key>Common_text_next-bonus.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,1404},{324,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,84}}</string>
                <key>sourceSize</key>
                <string>{324,84}</string>
            </dict>
            <key>Common_title_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,1596},{52,28}}</string>
                <key>offset</key>
                <string>{1,-1.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,28}}</string>
                <key>sourceSize</key>
                <string>{50,25}</string>
            </dict>
            <key>Common_unlcok_level_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,504},{576,12}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{576,12}}</string>
                <key>sourceSize</key>
                <string>{574,10}</string>
            </dict>
            <key>Common_upper_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,1948},{36,88}}</string>
                <key>offset</key>
                <string>{1.5,-0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,88}}</string>
                <key>sourceSize</key>
                <string>{33,87}</string>
            </dict>
            <key>Common_wheel_GllowFx_CollectPopUP.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,1692},{248,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,188}}</string>
                <key>sourceSize</key>
                <string>{248,188}</string>
            </dict>
            <key>Common_youWon_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,1348},{220,116}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,116}}</string>
                <key>sourceSize</key>
                <string>{218,116}</string>
            </dict>
            <key>LB_ProgressBar_spinner.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,1708},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>LoadingScene_CloseButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1732},{128,140}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{128,140}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>bonus_wheel_ColectBtn_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,1380},{24,292}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,292}}</string>
                <key>sourceSize</key>
                <string>{22,290}</string>
            </dict>
            <key>bonus_wheel_CollectBtn_Central_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,1448},{16,72}}</string>
                <key>offset</key>
                <string>{0,-1.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,72}}</string>
                <key>sourceSize</key>
                <string>{16,69}</string>
            </dict>
            <key>bonus_wheel_CollectBtn_Ends_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,1744},{84,72}}</string>
                <key>offset</key>
                <string>{1,-1.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,72}}</string>
                <key>sourceSize</key>
                <string>{82,69}</string>
            </dict>
            <key>bonus_wheel_PopUp_Frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,1844},{88,92}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{86,90}</string>
            </dict>
            <key>bonus_wheel_cell.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,1204},{156,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,120}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>bonus_wheel_panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,1028},{140,324}}</string>
                <key>offset</key>
                <string>{1.5,-1.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,324}}</string>
                <key>sourceSize</key>
                <string>{137,321}</string>
            </dict>
            <key>minishop_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,1832},{152,144}}</string>
                <key>offset</key>
                <string>{1,-0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,144}}</string>
                <key>sourceSize</key>
                <string>{150,143}</string>
            </dict>
            <key>minishop_base_glow_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,712},{268,312}}</string>
                <key>offset</key>
                <string>{0,-1.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,312}}</string>
                <key>sourceSize</key>
                <string>{268,309}</string>
            </dict>
            <key>minishop_base_glow_side.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,1736},{80,168}}</string>
                <key>offset</key>
                <string>{1,-0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,168}}</string>
                <key>sourceSize</key>
                <string>{78,167}</string>
            </dict>
            <key>minishop_button_backing.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,492},{376,216}}</string>
                <key>offset</key>
                <string>{1,-1.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,216}}</string>
                <key>sourceSize</key>
                <string>{374,213}</string>
            </dict>
            <key>pick_a_game_centerGlow.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,1456},{160,200}}</string>
                <key>offset</key>
                <string>{1,-1.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,200}}</string>
                <key>sourceSize</key>
                <string>{158,197}</string>
            </dict>
            <key>pick_a_game_flashlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,700},{232,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,228}}</string>
                <key>sourceSize</key>
                <string>{232,228}</string>
            </dict>
            <key>pick_a_game_multiplier.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,1744},{128,88}}</string>
                <key>offset</key>
                <string>{1.5,-1.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,88}}</string>
                <key>sourceSize</key>
                <string>{125,85}</string>
            </dict>
            <key>pick_a_game_outerGlow.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,1120},{220,224}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,224}}</string>
                <key>sourceSize</key>
                <string>{220,222}</string>
            </dict>
            <key>shop_base_coins_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,712},{572,384}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{572,384}}</string>
                <key>sourceSize</key>
                <string>{572,382}</string>
            </dict>
            <key>shop_base_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,124},{484,364}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{484,364}}</string>
                <key>sourceSize</key>
                <string>{484,364}</string>
            </dict>
            <key>shop_coins_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,1620},{204,112}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,112}}</string>
                <key>sourceSize</key>
                <string>{202,110}</string>
            </dict>
            <key>shop_coins_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,1620},{200,120}}</string>
                <key>offset</key>
                <string>{1.5,-1.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,120}}</string>
                <key>sourceSize</key>
                <string>{197,117}</string>
            </dict>
            <key>shop_coins_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,1468},{204,124}}</string>
                <key>offset</key>
                <string>{1,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,124}}</string>
                <key>sourceSize</key>
                <string>{202,123}</string>
            </dict>
            <key>shop_coins_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,320},{176,128}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,128}}</string>
                <key>sourceSize</key>
                <string>{174,126}</string>
            </dict>
            <key>shop_coins_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,1328},{156,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,116}}</string>
                <key>sourceSize</key>
                <string>{156,114}</string>
            </dict>
            <key>shop_coins_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,1876},{140,108}}</string>
                <key>offset</key>
                <string>{1.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,108}}</string>
                <key>sourceSize</key>
                <string>{137,108}</string>
            </dict>
            <key>shop_gems_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,1344},{224,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,108}}</string>
                <key>sourceSize</key>
                <string>{224,108}</string>
            </dict>
            <key>shop_gems_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,1356},{228,116}}</string>
                <key>offset</key>
                <string>{1.5,-0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,116}}</string>
                <key>sourceSize</key>
                <string>{225,115}</string>
            </dict>
            <key>shop_gems_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,1468},{216,116}}</string>
                <key>offset</key>
                <string>{0.5,-1.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,116}}</string>
                <key>sourceSize</key>
                <string>{215,113}</string>
            </dict>
            <key>shop_gems_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,1720},{188,112}}</string>
                <key>offset</key>
                <string>{1.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,112}}</string>
                <key>sourceSize</key>
                <string>{185,111}</string>
            </dict>
            <key>shop_gems_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,1728},{176,116}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,116}}</string>
                <key>sourceSize</key>
                <string>{174,114}</string>
            </dict>
            <key>shop_gems_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,220},{144,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,96}}</string>
                <key>sourceSize</key>
                <string>{144,96}</string>
            </dict>
            <key>shop_item_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,1844},{80,120}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,120}}</string>
                <key>sourceSize</key>
                <string>{78,118}</string>
            </dict>
            <key>shop_item_buy_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1884},{200,100}}</string>
                <key>offset</key>
                <string>{0.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,100}}</string>
                <key>sourceSize</key>
                <string>{199,100}</string>
            </dict>
            <key>shop_item_free_badge.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,1836},{268,4}}</string>
                <key>offset</key>
                <string>{0.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,4}}</string>
                <key>sourceSize</key>
                <string>{267,3}</string>
            </dict>
            <key>shop_item_light_swip.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,1820},{40,12}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,12}}</string>
                <key>sourceSize</key>
                <string>{40,10}</string>
            </dict>
            <key>shop_lock_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,1380},{20,28}}</string>
                <key>offset</key>
                <string>{0.5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{19,26}</string>
            </dict>
            <key>shop_mark_base_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,1772},{84,100}}</string>
                <key>offset</key>
                <string>{0.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,100}}</string>
                <key>sourceSize</key>
                <string>{83,100}</string>
            </dict>
            <key>shop_mark_base_pink.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,1844},{84,100}}</string>
                <key>offset</key>
                <string>{0.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,100}}</string>
                <key>sourceSize</key>
                <string>{83,100}</string>
            </dict>
            <key>shop_tab_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{1444,676},{260,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,148}}</string>
                <key>sourceSize</key>
                <string>{260,148}</string>
            </dict>
            <key>shop_tab_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,124},{20,32}}</string>
                <key>offset</key>
                <string>{0.5,-1.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{19,29}</string>
            </dict>
            <key>shop_tab_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1444,940},{260,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,148}}</string>
                <key>sourceSize</key>
                <string>{260,148}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CommonResource8.png</string>
            <key>size</key>
            <string>{1596,1988}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c6d79e0abcfefa8a951db304b473a053:b811d074f81d992f6b71f1bd2d254557:14d5cb29f76b8af12751e63e834c6ee1$</string>
            <key>textureFileName</key>
            <string>CommonResource8.png</string>
        </dict>
    </dict>
</plist>
