<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>results</key>
	<array>
		<dict>
			<key>objectId</key>
			<string>jFVqQNDrs5</string>
			<key>createdAt</key>
			<string>2016-06-14T12:16:37.421Z</string>
			<key>updatedAt</key>
			<string>2017-01-24T10:10:59.640Z</string>
			<key>Type</key>
			<string>Offer Wall</string>
			<key>LimitSession</key>
			<integer>4</integer>
			<key>LimitDay</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>objectId</key>
			<string>KxupAvlaQm</string>
			<key>createdAt</key>
			<string>2016-06-14T12:15:15.504Z</string>
			<key>updatedAt</key>
			<string>2019-07-18T10:23:30.607Z</string>
			<key>Type</key>
			<string>Rewarded Video</string>
			<key>LimitDay</key>
			<integer>100</integer>
			<key>LimitSession</key>
			<integer>50</integer>
		</dict>
		<dict>
			<key>objectId</key>
			<string>D0HtfldcUH</string>
			<key>updatedAt</key>
			<string>2020-12-15T13:39:50.474Z</string>
			<key>createdAt</key>
			<string>2016-08-31T11:49:22.370Z</string>
			<key>Type</key>
			<string>Banner Ads</string>
		</dict>
		<dict>
			<key>objectId</key>
			<string>X0OIcBrw3P</string>
			<key>createdAt</key>
			<string>2016-06-14T12:16:52.919Z</string>
			<key>updatedAt</key>
			<string>2019-07-18T10:23:28.666Z</string>
			<key>Type</key>
			<string>Placement Ads</string>
			<key>LimitSession</key>
			<integer>50</integer>
			<key>LimitDay</key>
			<integer>100</integer>
		</dict>
	</array>
</dict>
</plist>
