<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,69},{62,64}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>10_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,69},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>11_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,69},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>12_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,69},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>13_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,69},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>1_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,69},{62,64}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>3_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,135},{62,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{62,60}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>4_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,135},{62,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{62,60}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>4_item_x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,137},{59,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,58}}</string>
                <key>sourceSize</key>
                <string>{59,58}</string>
            </dict>
            <key>4_item_x5.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,137},{59,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,58}}</string>
                <key>sourceSize</key>
                <string>{59,58}</string>
            </dict>
            <key>5_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,135},{62,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{62,60}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>5_item_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{62,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{62,193}}</string>
                <key>sourceSize</key>
                <string>{66,199}</string>
            </dict>
            <key>6_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,137},{58,52}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{58,52}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>7_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,137},{58,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{58,52}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>8_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,137},{52,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{52,54}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>9_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,135},{54,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{54,52}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>reel_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,1},{66,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,199}}</string>
                <key>sourceSize</key>
                <string>{66,199}</string>
            </dict>
            <key>reel_bg_custom.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1},{66,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,199}}</string>
                <key>sourceSize</key>
                <string>{66,199}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>level.png</string>
            <key>size</key>
            <string>{466,196}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ed7ed4c80fc0885373f12d52562c6ce:a76e26026bb43b9f9c7aa72393b8b367:2ab8eb00431ce8273abc1eabc56efe0e$</string>
            <key>textureFileName</key>
            <string>level.png</string>
        </dict>
    </dict>
</plist>
